* {
    margin: 0;
    box-sizing: border-box;
}
.canvas {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    display: block;
}
.asset {
    display: none;
}
.controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
.control-btn {
    font-size: 2em;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
